//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@eclipse-iofog:registry=https://npm.pkg.github.com/
# always-auth=true

#//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
#registry=https://registry.npmjs.org/