.sidebar {
  grid-area: sidebar;
  padding-top: 10px !important;
}

.map-grid-container {
  grid-area: map;
  position: relative;
  padding-right: 50px;
  padding-top: 10px;
}

.viewer-layout-container {
  width: 100%;
  margin: auto;
  display: grid;
  min-height: 100%;
  grid-gap: 10px;
  grid-template-columns: 40% 1fr;
  grid-template-rows: minmax(600px, auto);
  grid-row-gap: 0;
  grid-template-areas:
    "sidebar map";
  background-color: #FAFCFF;
  color: #444;
}