body {
  margin: 40px;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 0 !important;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
  padding-top: 0px;
}

.footer {
  grid-area: footer;
}

.wrapper {
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr minmax(600px, auto) 1fr;
    grid-template-areas:
      "sidebar content"
      "sidebar content"
      "footer  footer";
    background-color: #fff;
    color: #444;
}


.box {
  border-radius: 5px;
  padding: 30px;
  font-size: 150%;
}

.header,
.footer {
  background-color: white;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.controllerInfoTitle {
  text-emphasis: 'bold';
}